html, body{
  width: 100%;
}
#root {
  width: 100%;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

/* index.css no importing some reason putting it here for now  */
:root {
  --pink-50: #fce4ec;
  --pink-100: #f8bbd0;
  --pink-200: #f48fb1;
  --pink-300: #f06292;
  --pink-400: #ec407a;
  --pink-700: #c2185b;
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

a {
  /* font-weight: 500;
  color: #646cff;
  text-decoration: inherit; */
}
a:hover {
  /* color: #535bf2; */
}

body {
  margin: unset;
  display: flex;
  width: 100%;
  /* place-items: center; */
 
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/*  end of index.css */

.card {
  padding: 2em;
}

.siteContainer{
  width: 100%;
    display: flex;
    flex-direction: column;

}

.navbar{
  /* width: 100%; */
  padding-inline: 30px;
  display: flex;
  background-color: #ffffff;
  /* box-shadow: 1px 10px 40px -3px rgb(0, 0, 0); */
  position: relative;
  justify-content: space-between;
  height: 100px;
}
.underBar{
  padding-inline: 30px;
  display: flex;
  background-color: #ffffff;
  position: relative;
  justify-content: center;
  height: 75px;
  border-top: 1px solid rgba(17, 17, 17, 0.2);
  border-bottom: 1px solid rgba(17, 17, 17, 0.2);

}
.navIcon{
  width: 110px;
  height: 110px;
  block-size: 110px;
  position: relative;
  top: -10px;
  left: -3px;
}
.cartIcon{
  margin-inline-start: 10px;
  border-radius: 5px;
  block-size: 30px;
  background-color: var(--pink-300) ;
}
.accountIcon{
  block-size: 30px;
}
.iconContainer{
  margin-right: 10px;
  /* box-shadow: 5px 10px 8px 2px rgba(0, 0, 0, 0.5); */
  border: 2px #201f41 solid;
  border-radius: 100%;
  overflow: hidden;
  height: 85px;
  width: 88px;

}
.navTitle{
  font-family: 'Playmaker', sans-serif;
  color: #201f41;
  font-size: 50pt;
  letter-spacing: 5px;
  border-radius: 10px 10px 0 0;

}
.navItem{
  /* border-right: 2px,solid,#04040c; */
  padding-inline-end:20px ;
  border-right: 2px solid rgba(17, 17, 17, 0.2);
  font-family: 'Playmaker', sans-serif;
  letter-spacing: 3px;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-decoration:unset;
  color: unset;
}
.underItem{
  /* border-right: 2px,solid,#04040c; */
  padding-inline:20px ;
  /* border-right: 2px solid rgba(17, 17, 17, 0.2); */
  font-family: 'Playmaker', sans-serif;
  letter-spacing: 3px;
  display: block;
  font-size: 1.7em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-decoration:unset;
  color: unset;
}
.underItem:hover{
  cursor: pointer;
}
.accountDiv{
  display: flex;
  align-items: center;
}
.navItem:hover{
  cursor: pointer;
  text-decoration: underline;
}
.navRight{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.cardContainer{
  padding-top: 70px;
  display: flex;
  column-gap: 10px;
  justify-content: space-evenly;
}


.card {
  position: relative;
  border-radius: 20px;
  height: 200px;
  width: 200px;
  border: 10px solid pink;
  background-color: white;
  overflow: hidden;
  transition: 200ms;
}
.card:hover{
  cursor: pointer;
  border: 10px solid white;
  transform: translate3d(10px, -10px, 10px);
  transition: 200ms;
  box-shadow: 5px 10px 8px 2px rgba(0, 0, 0, 0.5);
  .cardImg{
    /* filter: blur(1px); */
    filter: brightness(35%);
    transition: 200ms;

  }
  .clothing{
    position: relative;
    z-index: 10;
    margin: unset;
    opacity: 100%;
    color: white;
    font-family: 'Playmaker', sans-serif;
    font-size: 30pt;
    height: 10px;
  }
}
.clothing{
  opacity: 0%;
  position: relative;
  margin: unset;
  z-index: 10;
  font-size: 30pt;
  height: 10px;
  top: 65px;
  letter-spacing: 18px;
  
}
.cardImg{
  block-size: 300px;
  position: relative;
  top:-64px;
  left: -40px;
}


/* .title{
  
} */
.bannerImg{
  width: -webkit-fill-available;
}
.accountPage{
  padding-block-start: 47px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.accountLeft{
  padding-inline-end: 20px;
  border-right: 2px solid rgba(17, 17, 17, 0.2);
  

}
.accountRight{

}



/* bread crumbs css sheet maybe use this maybe not ? */

.breadcrumbs {
  list-style: none;
  display: flex;
  gap: 16px;
  background: var(--pink-50);
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 20px var(--pink-50);
  padding-inline-start: 0;
  width: fit-content;
}

.breadcrumbs-item {
  padding: 0.25rem 0.25rem 0.25rem 1rem;
  background: var(--pink-100);
  color: var(--pink-700);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
}
.breadcrumbs-arrow{
  padding: 0.25rem 0.25rem 0.25rem 1rem;
  background: var(--pink-100);
  color: var(--pink-700);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
}

.breadcrumbs-arrow::after,
.breadcrumbs-arrow::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 12px;
  top: 0px;
  left: -1px;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}
.breadcrumbs-arrow::before {
  background: var(--pink-50);
}

.breadcrumbs-arrow::after {
  left: 99%;
  background: var(--pink-100);
}

.breadcrumbs-item::before,
.breadcrumbs-item::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 12px;
  top: 0px;
  left: -1px;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.breadcrumbs-item::before {
  background: var(--pink-50);
}

.breadcrumbs-item::after {
  left: 99%;
  background: var(--pink-100);
}

.breadcrumbs-item:first-child {
  padding: 0.75rem;
  border-radius: 0.25rem 0 0 0.25rem;
}

.breadcrumbs-item:first-child::before {
  display: none;
}

.breadcrumbs-item:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}

.breadcrumbs-item:last-child::after {
  display: none;
}

.breadcrumbs-item:hover,
.breadcrumbs-item:hover::after {
  background: var(--pink-400);
  color: var(--pink-100);
}

.loginSignup{
  display: flex;
    justify-content: center;
    align-items: center;
}
.addUserForm{
  display: flex;
  flex-direction: column;
  padding-inline: 40px;
  align-items: center;
  background-color: #f48fb1;
  border-radius: 0px 0px 10px 10px;
  .formItem{
    padding: 10px;
    font-family: 'Playmaker', sans-serif;
    font-size: 20pt;
    .userInput{
      border-radius: 5px;
      font-size: 14pt;
      border: none;
      /* border-bottom: 2px solid var(--pink-200); */
      background-color: var(--pink-50);
    }
    .userInput:focus{
      transition: 500ms;
      outline-color: var(--pink-400);
      /* outline-style: dotted; */
      background-color: var(--pink-100) ;
    }
  }
}
.pageContainer{
  padding-inline: 10px;
}
.loginButton{
  padding: 4px;
  border-radius: 5px;
  border: solid 2px black;
  width: fit-content;
}
.loginButton:hover{
  border-color: var(--pink-200);
  background-color: var(--pink-50);
}

.gridContainer{
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.Item{
  margin: 10px;
  block-size: 300px;
  font-size: 7pt;
  .itemImg{
    block-size: 200px;
  }

}
